name: auto-author-assign

on:
  pull_request:
    types: [opened, reopened]

permissions:
  pull-requests: write

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - name: Auto Author Assign
        uses: toshimaru/auto-author-assign@v2.1.0
